:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.app-layout {
    display: flex;
    gap: 16px;
}

.app-main {
    flex: 1;
}

.app-sidebar {
    width: 420px;
}

.spacing-top {
    margin-top: 24px;
}

.sidebar-section {
    margin-top: 12px;
}

.sidebar-actions {
    margin-top: 8px;
}

.btn-close {
    margin-left: 8px;
}